html
	head
		style
			include style.css
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		title Bulletin Board
	body
		div(class="board")
			div(class="message")
				form(action="/messages", method="POST")
					input(name="title", type="text", placeholder="Hey there! Any questions?")
					textarea(name="body", id="BulletinBoard", placeholder="Type your message...")
					br
					br
					input(type="submit", value="Submit")